{% extends 'base.html.twig' %}

{% block title %}BACK OFFICE{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('admin_article') }}" class="btn btn-success col-12 my-4">Gestion des Vehicules</a>

    <a href="" class="btn btn-info col-12 my-4">Gestions des catégories de vehicule</a>
    
    <a href="" class="btn btn-warning col-12 my-4">Gestions des descriptions</a>
    
    <a href="" class="btn btn-danger col-12 my-4">Gestions des utilisateurs</a>
</div>
{% endblock %}
